#
# SHARP configuration
#

menu "SHARP Device Drivers"

source "drivers/sharp/mfc/Kconfig"

source "drivers/sharp/wifi/Kconfig"

source "drivers/sharp/irda/Kconfig"

source "drivers/sharp/presenter/Kconfig"

endmenu
